/*BASE*/

html{
    box-sizing: border-box;
    /*font-size: 62.5%;*/
}
*::before,*::after{
    box-sizing: inherit;
}

body{
    background-color: #E6EDF1;
    font-family: 'Merriweather', 'Roboto';
}

.wrapper{
    max-width: 1171px;
    margin: 0 auto;
}

/*ELEMENTS*/

a{
    font-size: 18px;
    font-weight: bold;

    text-decoration: none;
    color: black;
    font-family: "roboto";
}

h1{
    color: #E67522;
    font-size: 64px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 40px;
}

h2{
    margin-top: 0;
    text-align: center;

    font-size: 64px;
    font-weight: bold;
    margin-bottom: 4px;
}

h3{
    font-size: 36px;
}

p{
    line-height: 150%;
    font-family: "roboto";
}

/*COMPONENTS*/

/*- header- */

header{
    background-color: #379AE3;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header p{
    font-size: 24px;
    font-weight: bold;
}

/*- Navigation -*/

nav ul{
    display: flex;
    gap: 40px;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: black;
    
}

nav a:hover{
    color: #E6EDF1;
}

.acheter a:hover{
    background-color: brown;
}

.billets{
    background-color: #fff;
    color: black;
    padding: 7px 30px 7px 30px;
    border-radius: 5px;
    border: 2px solid black;
    text-decoration: none;
}

/*- hero -*/

.hero{
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero .wrapper{

    
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    height: 637px;
}

.boite{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    text-align: center;
    padding: 40px;
}

.boite p{
    color: white;
    margin: 0;
    margin-bottom: 40px;
    font-weight: bold;
}

.boite a{
    background-color: #E67522;
    color: white;

    padding: 7px 40px 7px 40px;   
    border-radius: 5px; 

    text-decoration: none;
    
}

.boite a:hover{
    background-color: brown;
}

/*- contenu -*/

.contenu{
    margin-top: 100px;
    margin-bottom: 100px;
}

.boiteContenu{
    text-align: center;
    margin: 0 185px 70px 185px;
}

.cartes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

article{
    background-color: #fff;
    text-align: center;

    display: flex;
    flex-direction: column;
    height: 785px;
}

article a{
    margin-top: auto;
    align-self: center;

    background-color: #E67522;
    padding: 10px 20px 10px 20px;

    border: 2px solid #3D3D3D;
    border-radius: 5px;

    margin-bottom: 40px;
}

article a:hover{
    background-color: brown;
}

article p{
    margin-left: 20px;
    margin-right: 20px;
    
    font-size: 18px;
}

article span.premier{
    position: absolute;
    right: 0;
    
}

.aligneBouton{
    position: relative;
}

/*- footer -*/

footer{
    background-color: #CCDAE3;
}

footer p{
    margin: 0;
    margin-top: 60px;
    text-align: center;
    padding-bottom: 50px;
    font-size: 14px;
}

.icones{
    padding-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;

    color: white;
}

footer span{
    background-color: #E67522;

    padding: 17px;
    border: 2px solid white;
    border-radius: 100%;
}

/*- modale -*/

div.modale{
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.8);

    display: none;
    justify-content: center;
    align-items: center;
}

.modale.visible{
    display: flex;
}